# introdouction if statements

In [ ]:
x = 0
y = 5

if x < y:
    print('Yes')
if y < x:
    print('Yes')
    
if x:
    print('Yes')
    
if y:
    print('Yes')
    
if 'aul' in 'graults':
    print('Yes')
    
if 'quux' in ['foo', 'bar', 'baz']:
    print('yes')

# Grouping statements: indentation and blocks

In [ ]:
if 'foo' in['foo', 'bar', 'baz']:
    print('Outer Condition is true')
    
    if 10 > 20:
        print('Inner condition 1')
        
    print('Beetwen inner conditions')
    
    if 10< 20:
        print('Inner conditions 2')
    
    print('End of outer conditions')

print('After outer conditions')

# The else and elif

In [ ]:
x = 20

if x < 50:
    print('(first suite)')
    print('(x is small)')
    
else:
    print('(second suite)')
    print('(s is large)')

In [ ]:
hargaBuku = 20000
hargaMajalah = 5000
uang =2000

if uang > hargaBuku:
    print('Beli buku')
else:
    print('Uang tidak cukup')

In [ ]:
number1 = int(input("Enter the first number: "))
number2 = int(input("Enter the second number: "))

#choise the larger number
if number1 > number2:
    larger_number = number1
else:
    larger_number =number2
    
#print ther result
print("The larger number is:", larger_number)

In [ ]:
largest_number = -9999999

number = int(input())

if number == -1:
    print(largest_number)
    exit()
    
if number > largest_number:
    largest_number = number

In [ ]:
hargaBuku = 20000
hargaMajalah = 5000
uang =2000

if uang > hargaBuku:
    print('Beli buku')
elif uang > hargaMajalah:
    print('Beli Majalah')
else:
    print('Uang tidak cukup')

In [ ]:
name = 'Hactiv8'

if name == 'Fred':
    print('Hello Fred')
elif name == 'Xander':
    print('Hello xander')
elif name == 'Hactiv8':
    print('Hello Hactiv8')
elif name == 'Arnold':
    print('Hello Arnold')
else:
    print("I don't know who you are!")

In [ ]:
if 'a' in 'bar':
    print('foo')
elif 1/0:
    print("This won't happen")
elif var:
    print("This won't either")

In [ ]:
jam = 13
if jam >=5 and jam < 12:
    print("Selamat pagi")
elif jam >= 12 and jam < 17:
    print("Selamat Siang")
elif jam >=17 and jam < 19:
    print("Selamat Sore")
else:    #Selain Kondisi di atas
    print("Selamat malam")

# One-Line if Statements

In [ ]:
if 'f' in 'foo': print('1'); print('2'); print('3')

In [ ]:
x = 2

if x == 1: print('foo'); print('bar'); print('baz')
elif x == 2: print('qux'); print('quux')
else: print('corge'); print('graulth')

In [ ]:
x = 3

if x == 1: print('foo'); print('bar'); print('baz')
elif x == 2: print('qux'); print('quux')
else: print('corge'); print('graulth')

# Conditional Expression

In [ ]:
raining = False
print("Let's go to the", 'Beach' if not raining else 'library')

In [ ]:
raining = True
print("Let's go to the", 'beach' if not raining else 'library')

In [ ]:
age = 12
s = 'teen' if age < 21 else 'adult'
s

In [ ]:
'yes' if ('qux' in ['foo', 'bar', 'baz']) else 'no'

# The Python pass statements

In [ ]:
if True:            # Error
print('foo')

In [ ]:
if True:             #Tidak error
    pass
print('foo')

# Python "while" Loops

In [ ]:
n = 5
while n > 10:
    n -= 1
    print(n)

In [ ]:
i = 1
while 1 < 6:
    print(i)
    i += 1

In [ ]:
a = int(input("Masukan angka: "))

## an infinite loop

In [ ]:
largest_number = -9999999

#input the first value
number = int(input("Enter a number type -1 or stop: "))

#if number is not equal to -1, continue
while number != -1:
    #Is number largest than largest_number?
    if number > largest_number:
        # Yes, update largest_number
        largest_number = number
    #Input the next number
    number = int(input("Enter a number type -1 or stop: "))

#print the largest_number
print("The largest_number is: ", largest_number)

In [ ]:
odd_numbers = 0
even_numbers = 0

# Read the first number
number = int(input("Enter a number or type 0 to stop: "))

while number != 0:
    #check if number is odd
    if number % 2 == 1:
        #increase the odd_numbers counter
        odd_numbers += 1
    else:
        even_numbers += 1
    #Read the next number
    number = int(input("ENter a number or type o to stop: "))
    
#print result
print("odd numbers count: ", odd_numbers)
print("Even numbers count: ", even_numbers )

In [ ]:
counter = 5
while counter != 0:
    print("Inside the loop.", counter)
    counter -= 1
print("Outside the loop.", counter)

## The Python break and continue statements

In [ ]:
n = 5
while n > 0:
    n -= 1
    if n == 2:
        break
    print(n)
print('Loop ended')

In [ ]:
n = 5
while n > 0:
    n -= 1
    if n == 2:
        continue
    print(n)
print('Loop ended')

##### break satetments - more example

In [ ]:
largest_number = -999999
counter = 0

while True:
    number = int(input("Eter a number or type -1 to end program: "))
    if number == -1:
        break
    counter += 1
    if number > largest_number:
        largest_number = number
        
if counter != 0:
    print("The largest_number is", largest_number)
else:
    print("You haven't enteres anu number")

##### continue statements - more example

In [ ]:
largest_number = -999999
counter = 0

while number != -1:
    if number == -1:
        continue
    counter += 1
    if number > largest_number:
        largest_number = number
    number = int(input("Eter a number or type -1 to end program: "))  
if counter:
    print("The largest_number is", largest_number)
else:
    print("You haven't enteres anu number")

## Infinite Loops

### Nested while Loops

In [ ]:
age = 20
gender = 'M'

if age < 18:
    if gender == 'M':
        print('son')
    else:
        print('daughter')
elif age >= 18 and age < 65:
    if gender == 'M':
        print('father')
    else:
        print('Mother')
else:
    if gender == 'M':
        print('grandfather')
    else:
        print('grandmodther')

In [ ]:
a = ['foo', 'bar']

while len(a):
    print(a.pop(0))
    
    b = ['baz', 'qux']
    
    while len(b):
        print('>', b.pop(0))

# The Python for Loop

In [ ]:
a = ['foo', 'bar', 'baz']
for i in a:
    print(i)

In [ ]:
d = {'foo': 1, 'bar':2, 'baz':3}
for k in d:
    print(k)

In [ ]:
for k in d:
    print(d[k])

In [ ]:
for k in d.values():
    print(k)

### More about the gor loop and the range() function

In [ ]:
for i in range(2, 8, 3):
    print("The value of i is currently", i)

In [ ]:
power = 1
for expo in range(16):
    print("2 to the power of", expo, "is", power)
    power *= 2

### The break and continue statements

In [ ]:
# break - statements
print("The break instructions")
for i in range (1, 6):
    if i == 3:
        break
    print("Inside teh loop", i)
print("Outside the loop")


#continue - example
print("\nThe continue statemnets")
for i in range(1, 6):
    if i == 3:
        continue
    print("Inside the loop", i)
print("Outside the loop.")

### Iterating Through a Dictionary

In [ ]:
d = {'foo': 1, 'bar': 2, 'baz': 3}
for k in d:
    print(k)

## The range() Function

In [ ]:
for n in(0, 1, 2, 3, 4):
    print(n)

# Altering for Loop Behavior

### The break and continue Statements

In [ ]:
for i in ['foo', 'bar', 'baz', 'qux']:
    if 'b' in i:
        break
    print(i)

In [ ]:
for i in ['foo', 'bar', 'baz','quz']:
    if 'b' in i:
        continue
    print(i)

## The else Clause

In [ ]:
for i in ['foo', 'bar', 'baz','quz']:
    print(i)
else:
    print('Done.') # will execute

In [ ]:
for i in ['foo', 'bar','baz', 'qux']:
    if i == 'bar':
        break
    print(i)
else:
    print('Done.') #will not execute

In [ ]:
# contoh penggunaan
temp = input("Ketikan temperatur yang ingin dikonversi, eg. 45F, 120C: ")
degree = int(temp[:-1])
i_convertion = temp[-1]

if i_convertion == "C":
    result = int(round((9 * degree) / 5 + 32))
elif i_convertion =="F":
    result = int(round((degree - 32) * 5 / 9))
else:
    print("Masukan Input yang benar")
print("Temperaturnya adalah", result , "derajat")